<h1 class="index_title">The Thunderdome</h1>
<h3 class="slogan"><em>A house for growing faith, friendships, and filmmaking</em></h3>
<hr class="divider">
<div class="links">
	<span class="a_link">Press</span> /
	<span class="a_link">About</span> /
	<span class="a_link">How can I help?</span> /
	<span class="a_link">Blog</span>
</div>
<hr class="divider">

<% @u = @users %>
<div class="row">
<% while @u.length > 0 %>
	
	<% if @u.length > 2 %>
		<% @u.pop(3).each do |user| %>
		 	<div class="front_page_images col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<%= link_to(user_portfolio_path(user, user.portfolio.id)) do %>
					<img src="<%= user.picture %>">
				<% end %>
				<Br><div class="img_caption"><%= user.name %></div>
			</div>
		<% end %>
	<% elsif @u.length == 2 %>
		<% @last = @u.pop(2) %>
	 	<div class="front_page_images col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
	 		<%= link_to(user_portfolio_path(@last.first, @last.first.portfolio.id)) do %>
				<img src="<%= @last.first.picture %>">
			<% end %>
			<Br><div class="img_caption"><%= @last.first.name %></div>
		</div>		
	 	<div class="front_page_images col-lg-4 col-md-4 col-sm-6 col-xs-12">
	 		<%= link_to(user_portfolio_path(@last.last, @last.last.portfolio.id)) do %>
				<img src="<%= @last.second.picture %>">
			<% end %>
			<Br><div class="img_caption"><%= @last.second.name %></div>
		</div>				

	<% else %>
		<% @last = @u.pop %>
	 	<div class="front_page_images col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
			<%= link_to("/portfolios/") do %>
				<img src="<%= @last.picture %>">
			<% end %>
			<Br><div class="img_caption"><%= @last.name %></div>
		</div>			

	<% end %>

<% end %>
</div>





<hr class="divider col-lg-6 col-lg-offset-3">

<center>
<div class="mission col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12 ">
<h3>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."</h3>
</div>
</center>





</div>

