<h1 class="index_title">The Thunderdome</h1>
<hr class="divider">
<h3 class="slogan"><em>A residence for growing faith, friendships, and filmmaking</em></h3>
<hr class="divider">
<div class="links">
</div>

<% @u = @users %>
<div class="row">
	<% while @u.length > 0 %>
		
		<% if @u.length > 2 %>
			<% @u.pop(3).each do |user| %>
			 	<div class="front_page_images col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<%= link_to(user_portfolio_path(user, user.portfolio.id)) do %>
						<img src="<%= user.portfolio.home_pic %>">
					<% end %>
					<Br><div class="img_caption"><%= user.name %></div>
				</div>
			<% end %>
		<% elsif @u.length == 2 %>
			<% @last = @u.pop(2) %>
		 	<div class="front_page_images col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
		 		<%= link_to(user_portfolio_path(@last.first, @last.first.portfolio.id)) do %>
					<img src="<%= @last.first.portfolio.home_pic %>">
				<% end %>
				<Br><div class="img_caption"><%= @last.first.name %></div>
			</div>		
		 	<div class="front_page_images col-lg-4 col-md-4 col-sm-6 col-xs-12">
		 		<%= link_to(user_portfolio_path(@last.last, @last.last.portfolio.id)) do %>
					<img src="<%= @last.second.portfolio.home_pic %>">
				<% end %>
				<Br><div class="img_caption"><%= @last.second.name %></div>
			</div>				
		<% else %>
			<% @last = @u.pop %>
		 	<div class="front_page_images col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
				<%= link_to(user_portfolio_path(@last, @last.portfolio.id)) do %>
					<img src="<%= @last.portfolio.home_pic %>">
				<% end %>
				<Br><div class="img_caption"><%= @last.name %></div>
			</div>			

		<% end %>

	<% end %>

</div>

	<hr class="divider">

<div class="row">

	<div id="social">
		<a href="http://twitter.com/ATLThunderdome"><%= image_tag("twitter.png", class: "icons", alt: "Tunderdome Twitter") %></a>
		<a href="http://atlthunderdome.tumblr.com"><%= image_tag("tumblr.png", class: "icons", alt: "Thunderdome Tumblr") %></a>
	</div>

	<h3 class="more_info col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
		If you'd like more information or ways you can help, contact <a href="mailto:IsaacDeitz@gmail.com">Isaac Deitz</a>.<br>(An information page is coming soon.)
	</h3>



	<center>
	<div class="mission col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12 ">
	</div>
	</center>

</div>






