<% provide(:title, "All Portfolios") %>


<div class="portfolio_index">
  <h1 class="portfolio_title">All Portfolios</h1>
  <h2 class="new_user"><%= link_to "Create New User", new_user_path %></h2>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-6">
        <div class="user_name">
          <% if user.portfolio.nil? %>
            <%= user.name %> <%= user.last_name %>
            <% if current_user.admin? %>
              <div class="new_portfolio_link">
                <%= link_to "Create New Portfolio", new_portfolio_path %>
              </div>
            <% end %>
          <% else %>
            <%= link_to (user_portfolio_path(user.id, user.portfolio.id)) do %>
              <%= user.name %> <%= user.last_name %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
