<p id="notice"><%= notice %></p>

<div class="img2">
  <%= image_tag @portfolio.cover_image %>
</div>

<p>
  <strong>Bio:</strong>
  <%= @portfolio.bio %>
</p>

<p>
  <strong>
  <%= @portfolio.feed %>
</strong>
</p>

 <script type='text/javascript' src='<%= @portfolio.feed %>/js'></script>




<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
