<p id="notice"><%= notice %></p>

<p>
  <strong>Feed:</strong>
</p>

 <%= <script type='text/javascript' src='@portfolio.feed'></script> %>

<p>
  <strong>Cover image:</strong>
  <%= @portfolio.cover_image %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @portfolio.bio %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
