<p id="notice"><%= notice %></p>

<h1>Current User's Portolio ID = <%= @folioID %></h1>

<p>
  <strong>Bio:</strong>
  <%= @portfolio.bio %>
</p>
	<center>
		<% @videos.each do |video| %>
        	<img class="videoLink" data-video="<%= video.url %>" src="<%= video.cover %>">
        <% end %>
    </center>




<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>


