<p id="notice"><%= notice %></p>

<p>
  <strong>Feed:</strong>
  <%= @portfolio.feed %>
</p>

 <script type='text/javascript' src='<%= @portfolio.feed %>/js'></script>

<p>
  <strong>Cover image:</strong>
  <%= image_tag @portfolio.cover_image %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @portfolio.bio %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
