<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cover %>
    <%= f.text_field :cover, class: "form-control" %>
  </div>

    <% @video_PID = current_user.portfolio.id %>
    <% @video.update_attribute(:portfolio_id, @video_PID) %>

  <div class="actions">
    <%= f.submit "Create Video", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
